.card { border: 1px solid #EEE; background-color: #EEEEEEAA; margin: 10px 0; cursor: pointer; }
.card .datetime { font-size: 14px; color: #999; text-align: right; margin: 20px 20px 0 0; }
.card .title { font-size: 16px; margin: 20px; max-height: 30px; overflow: hidden; }
.card .title { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; }
.card .image img { width: 140px; margin: 0 auto; }
.card .sub-title { font-size: 16px; margin: 20px; max-height: 30px; overflow: hidden; }
.card .sub-title { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; }
.card .description { font-size: 14px; margin: 10px 20px; height: 51px; overflow: hidden; }
.card .description { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
.card .stars { position: relative; color: #3182f6; text-align: center; }
.card .stars > svg { font-size: 20px; margin: 20px 2px 10px 2px; }
.card .stars > span { position: absolute; bottom: 11px; font-size: 14px; margin-left: 5px; }
.card .stars > span > span { font-size: 12px; color: #AAA; }
.card .counts { text-align: right; margin: 20px; }
.card .counts > div { display: inline-block; padding-left: 20px; }
.card .counts > div.empty { color: #CCC; }
.card .counts > div > svg { font-size: 18px; }
.card .counts > div > span { font-size: 14px; margin-left: 5px; }
.card .counts > div.comments > svg { color: #3182f6; }
.card .counts > div.comments > span { color: #3182f6; }
.card .counts > div.comments.empty > span { color: #CCC; }
.card .counts > div.like > span { color: #fb5b53; }
.card .counts > div.like.empty > span { color: #CCC; }

.news .card .title { font-size: 18px; font-weight: 500; margin: 20px 20px 0 20px; }
.news .card .description { margin-bottom: 20px; }

.book-card-slides .card { box-sizing: border-box; display: inline-block; margin: 10px 20px 0 20px; width: 90%; cursor: pointer; }
.book-card-slides .book-cards { position: relative; }
.book-card-slides .book-cards .arrow { position: absolute; top: 50%; transform: translateY(-50%); z-index: 5; }
.book-card-slides .book-cards .book-card { display: inline-block; }

.view { margin: 20px 0; background-color: #EEEEEEAA; border: 1px solid #EEE; }
.view .buttons { padding: 0 10px 0 0; text-align: right; }
.view .buttons > span { display: inline-block; padding: 10px 10px 0 10px; cursor: pointer; }
.view .buttons .edit { color: #3182f6; }
.view .buttons .delete { color: #fb5b53; }
.view .title { padding: 20px 20px 0 20px; font-size: 18px; overflow: hidden; text-overflow: ellipsis; }
.view .writer { padding: 2px 20px; font-size: 14px; text-align: right; color: #3182f6; }
.view .created-at { padding: 2px 20px 0 20px; font-size: 14px; text-align: right; color: #888; }
.view .created-at.cancel { text-decoration: line-through; }
.view .modified-at { padding: 2px 20px 0 20px; font-size: 14px; text-align: right; color: #888; }
.view .contents { padding: 40px 20px 20px 20px; font-size: 16px; overflow: hidden; }
.view .counts { text-align: right; padding: 20px; }
.view .counts > div { display: inline-block; padding-left: 20px; }
.view .counts > div.empty { color: #CCC; }
.view .counts > div > svg { font-size: 18px; }
.view .counts > div > span { font-size: 14px; margin-left: 5px; }
.view .counts > div.comments > svg { color: #3182f6; }
.view .counts > div.comments > span { color: #3182f6; }
.view .counts > div.comments.empty > span { color: #CCC; }
.view .counts > div.like { cursor: pointer; }
.view .counts > div.like > span { color: #fb5b53; }
.view .counts > div.like.empty > span { color: #CCC; }

.comment .more { text-align: center; padding: 20px; background-color: #EEE; cursor: pointer; border: 1px solid #DDD; }
.comment .comment-view { position: relative; margin-top: 5px; background-color: #EEEEEEAA; border: 1px solid #EEE; }
.comment .comment-view .info { padding: 20px 20px 0 20px; }
.comment .comment-view .info .nickname { padding: 0; font-size: 14px; text-align: right; color: #3182f6; }
.comment .comment-view .info .created-at { padding-left: 10px; font-size: 14px; text-align: right; color: #888; }
.comment .comment-view .info .created-at.cancel { text-decoration: line-through; }
.comment .comment-view .info .modified-at { padding-left: 10px; font-size: 14px; text-align: right; color: #888; }
.comment .comment-view .contents { padding: 10px 20px 20px 20px; font-size: 16px; overflow: hidden; }
.comment .comment-view .counts { text-align: right; padding: 20px; }
.comment .comment-view .counts > div { display: inline-block; padding-left: 20px; }
.comment .comment-view .counts > div.empty { color: #CCC; }
.comment .comment-view .counts > div > svg { font-size: 18px; }
.comment .comment-view .counts > div > span { font-size: 14px; margin-left: 5px; }
.comment .comment-view .counts > div.comments > svg { color: #3182f6; }
.comment .comment-view .counts > div.comments > span { color: #3182f6; }
.comment .comment-view .counts > div.comments.empty > span { color: #CCC; }
.comment .comment-view .counts > div.like { cursor: pointer; }
.comment .comment-view .counts > div.like > span { color: #fb5b53; }
.comment .comment-view .counts > div.like.empty > span { color: #CCC; }
.comment .comment-view .comment-reply { background-color: #EEE; padding: 0 20px; border-top: 1px solid #DDD; }
.comment .comment-view .comment-view-button { position: absolute; left: 20px; bottom: 20px; }
.comment .comment-view .comment-view-button button { border: none; background-color: #DDD; color: #555; }
.comment .comment-write { position: fixed; bottom: 0; left: 50%; transform: translateX(-50%); width: 100%; max-width: 1280px; background-color: #FFF; border: none; border-top: 1px solid #EEE; box-sizing: border-box; }
.comment .comment-write > div { display: inline-block; }
.comment .comment-write > div.contents { box-sizing: border-box; width: 100%; padding-right: 70px; }
.comment .comment-write > div.contents textarea { box-sizing: border-box; width: 100%; padding: 14px; resize: none; border: none; font-size: 16px; line-height: 20px; }
.comment .comment-write > div.save { position: absolute; top: 0; right: 0; width: 70px; height: 100%; background-color: #3182f6; border: none; }
.comment .comment-write > div.save button { width: 100%; padding: 10px 0; border: none; background: none; font-size: 16px; height: 100%; border-radius: 0; color: #FFF; }

.write .title { box-sizing: border-box; padding-top: 20px; }
.write .title input { box-sizing: border-box; width: 100%; padding: 20px; background-color: #EEEEEEAA; border: none; }
.write .contents { box-sizing: border-box; padding-top: 10px; }
.write .contents textarea { box-sizing: border-box; width: 100%; padding: 20px; resize: none; background-color: #EEEEEEAA; border: none; height: 300px; }
.write .save { padding-top: 10px; }
.write .save button { width: 100%; border-radius: 0; border: none; background-color: #3182f6; padding: 20px 0; color: #FFF; }

.book-list .book { position: relative; height: 182px; }
.book-list .book { border: 1px solid #EEE; background-color: #EEEEEEAA; margin: 10px 0; cursor: pointer; }
.book-list .book .image { position: absolute; top: 50%; left: 20px; transform: translateY(-50%); width: 100px; }
.book-list .book .image img { width: 100%; max-height: 142px; }
.book-list .book > div:not(.image) { box-sizing: border-box; padding: 0 20px 0 140px; }
.book-list .book .title { font-size: 16px; margin-top: 20px; max-height: 30px; overflow: hidden; }
.book-list .book .title { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; }
.book-list .book .published { height: 60px; color: #AAA; font-size: 14px; }
.book-list .book .published span { display: inline-block; padding-top: 2px; }
.book-list .book .published span:first-child { padding-left: 0; padding-top: 4px; }
.book-list .book .stars { position: relative; color: #3182f6; text-align: left; }
.book-list .book .stars > svg { font-size: 20px; margin: 10px 2px 10px 2px; }
.book-list .book .stars > svg:first-child { margin-left: 0; }
.book-list .book .stars > span { position: absolute; bottom: 11px; font-size: 14px; margin-left: 5px; }
.book-list .book .stars > span > span { font-size: 12px; color: #AAA; }
.book-list .book .description { font-size: 14px; margin: 10px 20px; height: 51px; overflow: hidden; }
.book-list .book .description { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
.book-list .book .comments { color: #3182f6; text-align: right; margin-top: 0; }
.book-list .book .comments.empty { color: #CCC; }
.book-list .book .comments > svg { font-size: 18px; }
.book-list .book .comments > span { font-size: 14px; margin-left: 5px; }

.book-list .tag,
.book-card-slides .book-cards .tag { margin: 40px 10px 0 10px; }
.book-list .tag > div,
.book-card-slides .book-cards .tag > div { display: inline-block; width: 50%; }
.book-list .tag > div.name,
.book-card-slides .book-cards .tag > div.name { font-size: 15px; color: #888; }
.book-list .tag > div.more,
.book-card-slides .book-cards .tag > div.more { text-align: right; }
.book-list .tag > div.more a,
.book-card-slides .book-cards .tag > div.more a { font-size: 15px; color: #888; text-decoration: none; }

.book-card-slides .add-book, .book-list .add-book { position: fixed; top: 83px; left: 50%; transform: translateX(-50%); z-index: 9; }
.book-card-slides .add-book, .book-list .add-book { box-sizing: border-box; width: 100%; text-align: center; padding-top: 10px; max-width: 1280px; min-width: 350px; }
.book-card-slides .add-book button, .book-list .add-book button { background-color: #FFF; color: #3182f6; border-color: #3182f6; }

.arrow { position: relative; display: inline-block; width: 50px; height: 50px; border-radius: 100%; background: none; color: #AAA; cursor: pointer; }
.arrow > svg { position: absolute; display: inline-block; width: 25px; height: 25px; }
.arrow-left > svg { top: 50%; left: 40%; transform: translate(-40%, -50%); }
.arrow-right > svg { top: 50%; left: 60%; transform: translate(-60%, -50%); }

.write-button { position: fixed; bottom: 40px; right: 40px; background-color: #3182f6DD; color: #FFF; padding: 20px; font-size: 20px; border-radius: 100px; cursor: pointer; }
.top-button { display: none; position: fixed; bottom: 120px; right: 40px; background-color: #DDDDDDAA; color: #333; padding: 20px; font-size: 20px; border-radius: 100px; cursor: pointer; }
.top-button.show { display: inline-block; }

/* PC */
.book-card-slides .book-cards .arrow-left { left: -40px; }
.book-card-slides .book-cards .arrow-right { right: -40px; }
@media screen and (max-width:1280px) {
    /* mobile, tablet */
    .book-card-slides .book-cards .arrow-left { left: 40px; }
    .book-card-slides .book-cards .arrow-right { right: 40px; }
    .book-card-slides .book-cards .arrow { position: absolute; top: 45%; z-index: 5; }
}

.news { padding-top: 90px; }
.news .tags { position: fixed; top: 83px; left: 0; width: 100%; padding: 24px 0; text-align: center; overflow: auto; background-color: #EEE; }
.news .tags > div { display: inline-block; width: 800px; }
.news .tags button { margin-left: 10px; background-color: #FFF; border: none; padding: 10px 20px; }
.news .tags button:nth-child(1) { margin-left: 0; }
.news .tags button.on { background-color: #3182f6; color: #FFF;border-color: #3182f6; }

/* buttons */
button { background: none; border: 1px solid #888; border-radius: 3px; color: #555; cursor: pointer; padding: 6px 12px; font-size: 14px; }

.login button { padding: 0; border: none; }
.login button img { width: 100%; border: 1px solid #EEE; }
.login.wide button { width: 200px; }
.sidebar .login button { width: 80px; }
.sidebar .login button.naver { margin-left: 6px; }
.sidebar .login button img { border-radius: 3px; }

/* dark mode */
body.dark .card { background-color: #333; border-color: #444; }
body.dark button { color: #EEE; }
body.dark .book-card-slides .add-book button,
body.dark .book-list .add-book button { background-color: #222; }
body.dark .book { background-color: #222; box-shadow: none; }
body.dark .news .tags { background-color: #222; }
body.dark .news .tags button { background-color: #333; }
body.dark .news .tags button.on { background-color: #3182f6; color: #FFF; border-color: #3182f6; }
body.dark .view { background-color: #333; border-color: #444; }
body.dark .comment .comment-view { background-color: #333; border-color: #444; }
body.dark .comment .comment-view .comment-reply { background-color: #444; border-top: 1px solid #555; }
body.dark .comment .comment-view .comment-view-button button { border: none; background-color: #555; color: #CCC; }
body.dark .comment .comment-write { background-color: #333; border-top: 1px solid #555; }
body.dark .comment .comment-write textarea { background-color: #333; border: none; color: #FFF; }
body.dark .comment .comment-write > div.save button { color: #FFF; }


body.dark .comment .more { background-color: #444; border-color: #555; }
body.dark .write .title input { background-color: #333; color: #FFF; }
body.dark .write .contents textarea { background-color: #333; color: #FFF; }
body.dark .top-button { background-color: #DDDDDD55; color: #333; }
body.dark .login button img { border: 1px solid #333; }
body.dark .login button.naver img { content:url("/public/image/login/naver_login_dark.png"); }
body.dark .login.wide button.naver img { content:url("/public/image/login/naver_login_wide_dark.png"); }
