.card { border: 1px solid #EEE; background-color: #FFF; margin: 10px; border-radius: 10px; cursor: pointer; }
.card { box-shadow: 1px 1px 4px 1px #EEE; }
.card .datetime { font-size: 14px; color: #999; text-align: right; margin: 20px 20px 0 0; }
.card .title { font-size: 16px; margin: 20px; max-height: 30px; overflow: hidden; }
.card .title { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; }
.card .image img { width: 140px; margin: 0 auto; }
.card .sub-title { font-size: 16px; margin: 20px; max-height: 30px; overflow: hidden; }
.card .sub-title { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; }
.card .description { font-size: 14px; margin: 20px; height: 52px; overflow: hidden; }
.card .description { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
.card .stars { position: relative; color: #3182f6; text-align: center; }
.card .stars > svg { font-size: 20px; margin: 0 2px; }
.card .stars > span { position: absolute; bottom: 1px; font-size: 14px; margin-left: 5px; }
.card .comments { color: #3182f6; text-align: right; margin: 20px; }
.card .comments.empty { color: #CCC; }
.card .comments > svg { font-size: 18px; }
.card .comments > span { font-size: 14px; margin-left: 5px; }

.news .card .title { font-size: 18px; font-weight: 500; margin: 20px 20px 0 20px; }

.book .card { box-sizing: border-box; display: inline-block; margin: 10px 20px 0 20px; }
.book .book-cards .book-card { display: inline-block; }
.book .book-cards .category { margin: 40px 20px 0px 20px; font-size: 15px; color: #888; }

.arrow { position: relative; display: inline-block; width: 50px; height: 50px; border-radius: 100%; background: none; color: #DDD; cursor: pointer; }
.arrow > svg { position: absolute; display: inline-block; width: 25px; height: 25px; }
.arrow-left > svg { top: 50%; left: 40%; transform: translate(-40%, -50%); }
.arrow-right > svg { top: 50%; left: 60%; transform: translate(-60%, -50%); }

.book .book-cards { position: relative; }
.book .book-cards .arrow { position: absolute; top: 50%; transform: translateY(-50%); z-index: 5; }

/* PC */
.book .book-cards .arrow-left { left: -40px; }
.book .book-cards .arrow-right { right: -40px; }
@media screen and (max-width:1280px) {
    /* mobile, tablet */
    .book .book-cards .arrow-left { left: 40px; }
    .book .book-cards .arrow-right { right: 40px; }
    .book .book-cards .arrow { position: absolute; top: 30%; z-index: 5; }
}
