* { outline: none; }
html { height: 100%; }
body { height: 100%; background-color: #FFF; }
body > div { height: 100%; }
header > div.top-menu-wrapper, main { max-width: 1280px; min-width: 350px; margin: 0 auto; }

header { position: fixed; top: 0; left: 0; width: 100%; z-index: 10; }
header { text-align: center; background-color: #FFF; border-bottom: 1px solid #EEE; }
header .top-logo img { height: 50px; }
header .menus a { box-sizing: border-box; display: inline-block; width: 25%; margin-bottom: 10px; text-decoration: none; color: #333; font-size: 15px; }
header .menus a { border-left: 1px solid #EEE; }
header .menus a:nth-child(1) { border-left: none; }
header .menus a.on { font-weight: bold; }
header .sidebar-icon { position: absolute; left: 0; top: 0; z-index: 30; }
header .sidebar-icon { display: inline-block; width: 84px; height: 84px; font-size: 36px; color: #3182f6; }
header .sidebar-icon > svg { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); cursor: pointer; }
header .sidebar { position: fixed; top: 0; left: 0; height: 100%; background-color: #FFF; text-align: center; }
header .sidebar { display: inline-block; width: 0; overflow: hidden; transition: width ease 0.4s; }
header .sidebar.on { width: 350px; border-right: 1px solid #EEE; }
header .sidebar > div { box-sizing: border-box; display: inline-block; width: 350px; text-align: left; padding: 10px 20px; }
header .sidebar > div.close { opacity: 0; box-sizing: border-box; width: 100%; text-align: right; font-size: 25px; padding: 20px; }
header .sidebar > div.close > svg { cursor: pointer; }
header .sidebar.on > div.close { opacity: 1; transition: opacity 0s 0.4s }
header .sidebar > div > div { padding: 5px 0; }
header .sidebar > div > div.title { font-size: 14px; color: #888; }
header .sidebar > div.my-info .login button { padding: 0 5px 0 0; height: 40px; border: none; }
header .sidebar > div.my-info .login button img { height: 100%; }
header .sidebar > div.my-info > div { display: inline-block; vertical-align: middle; }
header .sidebar > div.my-info > div.title { display: block; }
header .sidebar > div.my-info > div.profile-image { width: 70px; }
header .sidebar > div.my-info > div.profile-image img { width: 100%; border-radius: 100%; }
header .sidebar > div.my-info > div.nickname { padding: 0 10px; width: 180px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
header .sidebar > div.my-info > div.logout-btn { font-size: 22px; text-align: right; color: #3182f6; cursor: pointer; }
header .sidebar > div.theme .buttons {  }
header .sidebar > div.theme .buttons button { font-size: 16px; padding: 6px 30px; }
header .sidebar > div.theme .buttons button:nth-child(1) { border-top-right-radius: 0; border-bottom-right-radius: 0; }
header .sidebar > div.theme .buttons button:nth-child(2) { border-top-left-radius: 0; border-bottom-left-radius: 0; }
header .sidebar > div.theme .buttons button:nth-child(1).on { border-right: none; }
header .sidebar > div.theme .buttons button:nth-child(2).on { border-left: none; }
header .sidebar button.on { border-color: #3182f6; background-color: #3182f6; color: #FFF; }

main { box-sizing: border-box; padding-top: 84px; min-height: 100%; background-color: #FFF; padding-bottom: 50px; }
main > div { padding-top: 10px; }

@media screen and (max-width:1280px) {
    header .sidebar-icon { width: 53px; height: 53px; }
}

@media screen and (max-width:768px) {
    header .sidebar.on { width: 100%; }
}

/* dark mode */
body.dark { background-color: #222; color: #EEE; }
body.dark header { background-color: #222; /*border-bottom: 1px solid #EEE;*/ }
body.dark header .sidebar { background-color: #222; }
body.dark main { background-color: #222; }
body.dark header .menus a { color: #EEE; }
body.dark header .sidebar > div.close { color: #EEE; }
body.dark header .sidebar button { color: #EEE; }

